<body>
  <app-header [loggedUser]="loggedUser"></app-header>
  <div id="back-office">
    <div id="back-office_menu">
      <button *ngIf="loggedUser?.role === 'SUPERADMIN'" (click)="setSelectedMenu('centres')">Centres ></button>
      <button *ngIf="loggedUser?.role === 'ADMIN' || loggedUser?.role === 'admin'"  (click)="setSelectedMenu('mon-centre')">Mon centre ></button>
      <button *ngIf="loggedUser?.role === 'USER'" (click)="setSelectedMenu('planning')">Planning ></button>
      <button *ngIf="loggedUser?.role === 'SUPERADMIN'" (click)="setSelectedMenu('config')">Config ></button>
    </div>
    <div id="back-office_body">
      <p>Back office body</p>
    </div>
  </div>
</body>
