<div id="create-center-member-body">
  <form [formGroup]="createCenterMemberForm">
    <input id="email" type="text" formControlName="email" placeholder="email">
    <input id="password" type="text" formControlName="password" placeholder="mot de passe">
    <input id="firstname" type="text" formControlName="firstname" placeholder="prénom">
    <input id="lastname" type="text" formControlName="lastname" placeholder="nom">
    <select id="role" formControlName="role">
      <option *ngFor="let role of possibleRole" [ngValue]="role">
        {{role}}
      </option>
    </select>
  </form>
  <div id="create-center-member-button">
    <button (click)="emitCreateDone(true)">Annuler</button>
    <button (click)="createCenterMember()">Ajouter</button>
  </div>
  <p *ngIf="showCreateError">{{createErrorMessage}}</p>
</div>

