button {
}

#menu-centres-body {
  padding: 10px;
}

#menu-centres-list-element {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

#center-management-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

#center-management-button > button{
  width: 49%;
}

#menu-centres-list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

input {
  margin-bottom: 0px;
  width: auto;
  flex: 1;
  margin-right: 5px;
}
