<div id="menu-centres-body">
  <div id="menu-centres-list" *ngIf="!selectedCenter">
    <div id="menu-centres-list-header">
      <input [(ngModel)]="inputCenterName" (input)="updateCenter()" placeholder="Entrez le nom de votre ville">
      <button>Nouveau centre</button>
    </div>
    <div id="menu-centres-list-elements">
      <div *ngFor="let center of centerList" id="menu-centres-list-element">
        <div id="center-details">
          <p>{{center.name}}</p>
          <p>{{center.address}}, {{center.city}} {{center.city_code}}</p>
        </div>
        <div id="center-management-button">
          <button>Modifier</button>
          <button>Gérer les membres</button>
        </div>
      </div>
    </div>
  </div>
</div>
